numpy
isort
ipykernel
ipywidgets
jupyter
matplotlib
networkx
neuroCombat
nibabel
nilearn
numpyencoder
pandas<2.0.0
Pillow
protobuf
pycaret
pydicom
PyWavelets
ray
scikit_image
scipy
setuptools
SimpleITK
scikit_learn
seaborn
Sphinx
sphinx-carousel==1.2.0
sphinx-jsonschema==1.19.1
sphinx-rtd-dark-mode==1.2.4
tqdm
wget
tabulate
xgboost